<div 
[hidden]="show" 
style="    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
background: rgba(255, 255, 255, 0.96);
z-index: 999999999999999999999999999999999999999999999999999999999999;">
<div class="tmodal" style=" 
width: 50%;
height: 45%;
position: absolute;
top: 20%;
left: 25%;
background: #ffffff;
z-index: 9999999;
min-width: 350px;
min-height: 250px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
padding: 20px;
border-width: thin;
border-color: #aec3fd;
border-style: solid;
">
<div class="tmodal-title" style="float:right;width:100%;padding:5px;border-bottom-style: inset;">
    <div style="float:left;"><span style="margin-top:0px;font-size:20px;"><span class="glyphicon glyphicon-hdd"></span> File uploader</span></div>
    <div style="float:right;">
    <a href="#" style="color:grey;" (click)="closeUploadModal();">
            <span class="glyphicon glyphicon-remove"></span>
            </a>
    </div>
</div>    
   <HR>
   
    <div style="margin-top:50px;">
  
        <h4 style="color:#08598a;"><strong>Upload your new data file here</strong></h4>
        <BR><BR>
        <DIV>
                

        
        <input type="file" (change)='fileChange($event);' placeholder="Upload file" style="display:unset;">
        <!--input type="file" name="file" style="display:unset;" --> 
        <span style="padding-left:5px;">
            <button  (click)="upload();" style="border-style:solid;width:120px;padding:5px;background:none;border-color: #aec3fd; ">
            <span class="glyphicon glyphicon-cloud-upload glyph icon">
            </span>   Upload</button>
        </span>
        
        
        </DIV>

    </div>  

</div>
</div>