
<div class='topbar'> 
    <div class="iconplates left">
        <div class="icon  icons-left">
                <button type="button" class="btn" aria-label="Left Align">
                <span class="glyphicon glyphicon-menu-hamburger glyph"></span> 
                </button>   
        </div>       
        <div class="icon  icons-left"></div>
    </div> 
    <div class="iconplates center">
        <input type="text" placeholder="Search" style="margin-top:5px;" class="form-control" id="usr">


    </div> 
        
    <div class="iconplates right icons-right">
          
            <div class="icon  icons-right">
                    <button type="button" class="btn" aria-label="Left Align">
                    <span class="glyphicon glyphicon-user glyph"></span>
                    <span class="caret"></span>
                    </button>
            </div>       
            <div class="icon icons-right">
                    <button type="button" class="btn" aria-label="Left Align">
                        <span class="glyphicon glyphicon-cog glyph"></span>
                       
                    </button>
            </div>
            <div class="icon icons-right" >
                    <button type="button" class="btn" aria-label="Left Align">
                    <span class="glyphicon glyphicon-console glyph"></span>
                    
                    </button>        
            </div>
            <div class="icon  icons-right">
                    <button type="button" class="btn" aria-label="Left Align" (click)="changeOutside()">
                    <span class="glyphicon glyphicon-plus glyph"></span>
                    <span class="caret"></span>
                    </button>
            </div>             

    </div>        
</div>