button{
    background: none;
}

button:hover{
    color:white;
    background: black;
}

button:focus  { 
    color: #55C5FE;
}
.topbar{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-grow: 1;
    background: #403E3E;
    height: 44px;  
}

.iconplates{
    background: none;
}

.right{
    align-content: right ;
    flex-grow:.2;
    margin-right: 20px;
}

.left{
    align-content: left ;
    flex-grow:.2;
}

.center{
    align-content: right;
    flex-grow:.45;
}

.icon{
    width:40px;
    color: #9F9D9D;
    margin-right: 2px;
    padding-left: 10px;
    margin-top: 5px;
    cursor:pointer;
    font-size: 16px;
   }

.icons-left{
   float: left;    
}

.icons-right{
    float: right;
}
    
.icon:hover{
    color: white;
    
}

.form-control{
    
    color: #FFFFFF;
    background-color: #6d6c6c;
    background-image: none;
    border: 1px solid #020202;
}