
<div class='topbar'> 
    <div class="iconplates left">
        <div class="icon  icons-left">
                        <span style="font-size:24px;padding-left: 10px;" class="glyphicon glyphicon-stats glyph"></span>  
                        <span style="font-size:24px;padding-left: 10px;" ><strong>tar</strong>kol<span class="blinking-cursor">_</span> </span>
                          
        
        </div>        
        <div class="icon  icons-left"></div>
    </div> 
    <div class="iconplates center">
               
        <input type="text" placeholder="Search" style="margin-top:5px;" class="form-control" id="usr">


    </div> 
        
    <div class="iconplates right icons-right">
                
            <div class="icon  icons-right">
                    <drop-down-button></drop-down-button>
            </div>       
            <div class="icon icons-right">
                    
                    <button type="button" class="btn" aria-label="Left Align">
                        <span class="glyphicon glyphicon-cog glyph"></span>
                       
                    </button>
            </div>

            <div class="icon  icons-right">
                    <button type="button" class="btn" aria-label="Left Align" (click)="newProject();">
                    <span class="glyphicon glyphicon-plus glyph"></span>
                    <span class="caret"></span>
                    </button>
            </div>             

    </div>        
</div>