.workspace{
    position: absolute;
    display:flex; 
    padding: 10px;
    background:white;
    flex-flow: column;
    flex-direction: right;
}

img{
    -webkit-transition: box-shadow 2s, background .5s, padding .5s; /* Safari */
    transition: box-shadow 2s, background .5s, padding .5s;
   padding: 25px;
   width:95px;
   height:95px;
}
.author{
	text-align:right;
	font-weight:bold;	
}

img:hover{
  padding:5px;
  color: red;
 
}

