<!--The content below is only a placeholder and can be replaced.-->



            <div style="flex-grow:column;position:fixed;width:100%;height:100%;text-align: center;background:white;"> 
                <!-- -->    
                <div style="display:flex;height:100%;">
                    <div  style="padding:20px; background:none;flex-grow:1;border-right-width: thin;" >
                        <img style="cursor:pointer;" src="./assets/images/datacleaning.svg" width="100px;" height="100px;"/>
                        <br>
                        Data pre-processing  

                    </div>
                    
                    <div style="padding:20px; background:none;flex-grow:1;border-right-width: thin;font-family: 'Catamaran', sans-serif;">
                        <img  style="cursor:pointer;" src="./assets/images/mining.svg"  width="100px;" height="100px;"/>
                        <br>                        
                        Mining
                    </div>
                    <div style=" padding:20px; background:none;flex-grow:1;border-right-width: thin;">
                        <img  style="cursor:pointer;" src="./assets/images/visualization.svg"  width="100px;" height="100px;"/>
                        <br>                        
                        Visualization        
                    </div>
                    <div style="padding:20px; background:none;flex-grow:1;;">
                        <img  style="cursor:pointer;" src="./assets/images/analytics.svg"  width="100px;" height="100px;"/>
                        <br>                       
                        Analytics     
                    </div>
                </div>    
                <!-- -->
                <upload-modal></upload-modal>
             </div>


