<!--The content below is only a placeholder and can be replaced.-->



            <div style="flex-grow:column;position:fixed;width:100%;height:100%;background:white"> 
                <!-- -->
                <div style="display:flex;height:100%;">
                    <div style="background:none;flex-grow:1;border-right-style: dashed;border-right-width: thin;" >
                        
                    </div>
                    
                    <div style=" padding:20px; background:none;flex-grow:1;border-right-style: dashed;border-right-width: thin;font-family: 'Catamaran', sans-serif;">
                        1 Steve is a typeface designer based in Louisville, Colorado, who manages a global team for Monotype. With over 25 years in the business, he has designed corporate faces for Android, Citrix, Microsoft, Nextel, and Xbox. Steve frequently researches and lectures about the work of typographer Frederic Goudy, and has produced revivals of Goudy’s Bertham, Friar, and Tory Text among
                    </div>
                    <div style=" padding:20px; background:none;flex-grow:1;border-right-style: dashed;border-right-width: thin;">
                        2 Steve is a typeface designer based in Louisville, Colorado, who manages a global team for Monotype. With over 25 years in the business, he has designed corporate faces for Android, Citrix, Microsoft, Nextel, and Xbox. Steve frequently researches and lectures about the work of typographer Frederic Goudy, and has produced revivals of Goudy’s Bertham, Friar, and Tory Text among     
                    </div>
                    <div style=" padding:20px; background:none;flex-grow:1;font-family: 'Open Sans Condensed', sans-serif;">
                        3 Steve is a typeface designer based in Louisville, Colorado, who manages a global team for Monotype. With over 25 years in the business, he has designed corporate faces for Android, Citrix, Microsoft, Nextel, and Xbox. Steve frequently researches and lectures about the work of typographer Frederic Goudy, and has produced revivals of Goudy’s Bertham, Friar, and Tory Text among  
                    </div>
                </div>    
                <!-- -->
             </div>


