.container{
    background: none;
    width:100%;
    flex-flow: left ;
    flex-grow: 1;
    font-size: 12px;
    padding: 2px;
    font-family: unset;
    font-weight: 400;
}

.container:hover{
    cursor: pointer;
}

.label{
    color:rgba(84, 84, 84, 0.78);
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    font-size: 14px; 
}

.icon{
    font-size:18px;
}

.expanded{
    width:200px !important;
    background: white !important;
}
.leftpane{
    position: relative;
    /* float: left; */
    left: 0px;
    width: 55px;
    height: 100%;
    padding: 10px;
    background: #fafafa;
    border-right-width: thin;
    z-index: 99;
    border-right: rgba(128, 128, 128, 0.33);
    border-right-style: solid;
    border-right-width: thin;
    display: flex;
    flex-direction: column;
  }

  th{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
  }