<div  class="leftpane" [ngClass]="{'expanded': show}">
    <div class="container">
            
            <button  style="background:none; " type="button" class="btn" aria-label="Left Align" (click)="toggle()">
               <span class="glyphicon glyphicon-menu-hamburger glyph"></span> 
            </button> 
        <table class="table table-hover">

                <tbody style="font-family: 'Open Sans', sans-serif !important;
                font-size: 16px !important; color:red">
                  <tr>
                    <th scope="row">
                        <span class="glyphicon glyphicon-plus glyph icon">  
                        </span> 
                        <span [hidden]="!show">
                        <span class="label" >New project</span>
                        <span class="glyphicon glyphicon-menu-right glyph icon" style="float:right">  </span> 
                        </span>
                    </th>
                  </tr>
                  <tr>
                    <th scope="row">
                        <span class="glyphicon glyphicon-folder-open glyph icon">  </span> 
                        <span [hidden]="!show">
                        <span class="label">Open </span>
                        <span class="glyphicon glyphicon-menu-right glyph icon" style="float:right">  </span> 
                        </span>
                    </th>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span class="glyphicon glyphicon-cloud-upload glyph icon">  </span> 
                            <span [hidden]="!show">
                            <span class="label">Upload Data</span>
                            <span class="glyphicon glyphicon-menu-right glyph icon" style="float:right">  </span> 
                            </span>
                        </th>
                    </tr>                                        
                </tbody>
              </table>
    </div>

    <div style="display: flex;
    flex-flow: row-reverse;
    width: 100%;
    
    flex-grow:1;
    align-items: end;
    flex-direction: column-reverse;">
    <div style="display:flex; flex-flow:row-reverse;">
        <div class="icon icons-right" [hidden]="!terminal" >
            <button style="background:none;font-size:16px;" type="button" class="btn" aria-label="Left Align" (click)="showTerminal()">
            <span class="glyphicon glyphicon-console glyph"></span>
            </button>        
        </div>
    </div>
    </div>
</div>