<div style="width:100%; height:100%;position:absolute;">

<div class="panel" [hidden]="show" style="padding-left:10px;">
{{updates}} 
<div class="btn-group" style="display: flex;">
       <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Files</button>
            <div class="dropdown-menu" ngbDropdownMenu>
            <!--button class="dropdown-item" (click)="readFile('Draft.txt')">Draft.txt</button-->
            <button class="dropdown-item"  (click)="getStream(file)" *ngFor = "let file of allFiles" >{{file}}</button>

            </div>
        </div>
        
      <button class="btn btn-outline-primary" (click)="clear()"> Clear</button>
</div>
 
<div style="margin-top:20px;width: inherit;">
<ngb-tabset>
    <ngb-tab title="{{activeFile}}"> 
      <ng-template ngbTabContent style="">
        <div style="position:relative; text-align:left !important;">
          <div [hidden]="loading" style="position:fixed; margin-left:20%;margin-top:15%;">
            <img  src="./assets/images/ajax-loader.gif">
          </div>
        <span  *ngFor="let line of fileData"  class= "fileDisplay" style="text-align:left !important;">
             {{line}}
        </span>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>

</div>